html{
  scroll-behavior: smooth;
}

.selected{
  border-bottom: 2px;
  border-color: white;
}




.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 30%;
}
@media (max-width:720px){
  .embla__slide {
    flex: 0 0 100%;
  }
}
/* CARD-FLIP */
.card{
    width: 250px;
    height: 350px;
    position: relative;
}

.card > div{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    backface-visibility: hidden;
    transition: 1s;
}

.card-from {transform: perspective(500px) rotateY(0deg);}
.card-back {transform: perspective(500px) rotateY(180deg);}
.card:hover .card-from { transform: perspective(500px) rotateY(180deg); }
.card:hover .card-back { transform: perspective(500px) rotateY(360deg); }


section [id] {
  scroll-margin-top: 70px;
}